/*Alex Shah, Version 1.0, 12/2/15, CMPT 120-113*/

body {
    margin: 10px;
    padding: 10px;
    background-color: gray;
    color: DarkBlue;
}

#setScene {
    position: relative;
    width: 100%;
    margin: 1% 1% 1% 1%;
    padding: 10% 10% 10% 10%;
    border-style: dotted dotted dotted dotted;
    border-color: DarkBlue DarkBlue DarkBlue DarkBlue;
}

#command {
    position: fixed;
    top: 45%;
    left: 60%;
}

#goButton {
    position: fixed;
    top: 45%;
    left: 70%;
}

#NorthButton {
    position: fixed;
    top: 45%;
    left: 50%;
}

#SouthButton {
    position: fixed;
    top: 55%;
    left: 50%;
}

#EastButton {
    position: fixed;
    top: 50%;
    left: 55%;
}

#WestButton {
    position: fixed;
    top: 50%;
    left: 45%;
}

#examineButton {
    position: fixed;
    top: 46%;
    left: 25%;
}

#takeButton {
    position: fixed;
    top: 46%;
    left: 30%;
}

#helpButton {
    position: fixed;
    top: 46%;
    left: 34%;
}

#inventoryButton {
    position: fixed;
    top: 52%;
    left: 25%;
}

#previousButton {
    position: fixed;
    top: 52%;
    left: 30%;
}

#map {
    position: absolute;
    top: 60%;
}